<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325603527434-a8bus4cdl8iqri2copodrjmmpriebh31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325603527434-a8bus4cdl8iqri2copodrjmmpriebh31</string>
	<key>API_KEY</key>
	<string>AIzaSyDNtnXFhe0o8BxhnvpSkHbKO_Di4zuH2gs</string>
	<key>GCM_SENDER_ID</key>
	<string>325603527434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChattingApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chatting-app-5e117</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chatting-app-5e117.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325603527434:ios:f5775ccdca8e156af688f3</string>
</dict>
</plist>